<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724107944673-g3opl9umd7k6cj9b905e7h5qbj197gt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724107944673-g3opl9umd7k6cj9b905e7h5qbj197gt3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>724107944673-a1bl01o4dauomdvnt16t28pfurdc85a0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2DJaypfeSyYUR1Y8iAvT6TpFlxehEw_4</string>
	<key>GCM_SENDER_ID</key>
	<string>724107944673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbrgroup.inAppCallsDemo</string>
	<key>PROJECT_ID</key>
	<string>in-app-calls-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>in-app-calls-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724107944673:ios:2ffd9f7ff2f586a6508da0</string>
</dict>
</plist>